
@{
    ViewBag.Title = "PlanChart";
}

@*<script src="~/Scripts/BPS_Scripts/PlanChart.js"></script>*@

<h2>Plan Chart</h2>

<div class="wrap">

    <span id="cutting" class="process">Cutting</span>
    <span id="stiching" class="process">Stiching</span>
    <span id="printing" class="process">Printing</span>
    <span id="embos" class="process">Embos</span>
    <span id="soleInjection" class="process">Sole Injection</span>

    @*<div id="default-chart">
        default-chart
    </div>*@

    @*<h2>bar chart</h2>
        <hr>
        <div class="chart">
            <ul class="bar-chart" data-bars="[4,2],[4,5],[8,3],[4,2],[4,2]" data-max="10" data-unit="k" data-width="24"></ul>
        </div>
        <!-- data max is the 100% point of the graph -->
        <!-- set data-grid to 0 for no grid -->
        <!-- data-width is the individual bars width -->
        <h2>donut chart v1</h2>
        <hr>
        <div class="chart">
            <div class="donut-chart" data-percent="0.14" data-title="uptime %"></div>
        </div>
        <h2>donut chart v2</h2>
        <hr>
        <div class="chart">
            <div class="donut-chart fill" data-percent="0.61" data-title="uptime %"></div>
        </div>
        <h2>donut chart v2</h2>
        <hr>
        <div class="chart">
            <div class="donut-chart pie-chart fill" data-percent="0.61" data-title="uptime %"></div>
        </div>
        <!-- pie-chart class for pie chart -->
        <!-- fill class for default donut fill enabled-->
        <h2>line chart v1</h2>
        <hr>
        <div class="chart">
            <ul data-cord="[[0,70,120,160,200,262,280,340,380,420,460],[140,150,40,90,40,60,120,20,60,90,10]],[[0,70,120,160,200,262,280,340,380,420,460],[200,190,80,130,80,100,160,60,100,130,50]]" class="line-chart"></ul>
        </div>
        <!-- multiple graphs [[x cords],[y cords]] [[x cords],[y cords]] -->
        <h2>line chart v2</h2>
        <hr>
        <div class="chart" id="line">
            <ul data-cord="[0,90,120,160,200,262,280,340,380,420,460],[40,150,40,90,40,60,120,20,60,90,10]" class="line-chart"></ul>
        </div>
        <h2>line chart v3</h2>
        <hr>
        <div class="chart dotted">
            <ul data-cord="[0,90,120,160,200,262,280,340,380,420,460],[40,150,40,90,40,60,120,20,60,90,10]" class="line-chart"></ul>
        </div>
        <h2>line chart v4</h2>
        <hr>
        <div class="chart dotted">
            <ul data-cord="[0,90,120,160,200,262,280,340,380,420,460],[40,150,40,90,40,60,120,20,60,90,10]" data-fill="1" class="line-chart no-points"></ul>
        </div>
        <!-- single graph [x cords],[y cords] -->

        <br><br><br>
        <h2>pie chart v1</h2>
        <hr>
        <div class="chart">
            <div class="pie-thychart" data-set='[["people", 20], ["countries",30], ["developers",60]]' data-colors="#FBE4DB,#F17F49,#BD380F"></div>
        </div>*@
</div>

        <script>
            $(function () {
                var opt = {
                    horBarHeight:20,
                    avgActive: true,
                    avgColorIndicator: true,
                    horTitle: 'bi-title-id',
                    milestones: false
                };
                $('.process').barIndicator(opt);
                //$('#cutting').barIndicator();
                var newData = 100;
                $('#cutting').barIndicator('loadNewData', [newData]);
                var newData = 50;
                $('#stiching').barIndicator('loadNewData', [newData]);
                //$('.bar-chart').cssCharts({ type: "bar" });
                //$('.donut-chart').cssCharts({ type: "donut" }).trigger('show-donut-chart');
                //$('.line-chart').cssCharts({ type: "line" });
                //$('.pie-thychart').cssCharts({ type: "pie" });
            });
        </script>
